{
  "swagger" : "2.0",
  "info" : {
    "description" : "API d'apprentissage \nLe 20/10/2025",
    "version" : "1.0.0",
    "title" : "APIPretsEP",
    "contact" : {
      "name" : "Eric Proust",
      "email" : "eric.proust@even.fr"
    }
  },
  "host" : "ecckpdj69thuaik.eu.api-mocks.com",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/demandes" : {
      "get" : {
        "summary" : "Obtenir les demandes de prêts",
        "description" : "Obtenir la liste de toutes les demandes de prêts qui vous sont accessibles",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Soumettre une demande de prêt",
        "description" : "Créer et soumettre une demande de prêt",
        "consumes" : [ ],
        "parameters" : [ {
          "name" : "body",
          "in" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Demande"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201",
            "schema" : {
              "required" : [ "idPret" ],
              "type" : "object",
              "properties" : {
                "idPret" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/demandes/{idPret}" : {
      "get" : {
        "summary" : "Obtenir une demande de prêt par ID",
        "description" : "Obtenir une demande de prêt spécifique en utilisant son ID",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200",
            "schema" : {
              "$ref" : "#/definitions/Demande"
            }
          }
        }
      },
      "put" : {
        "summary" : "Mettre à jour une demande de prêt",
        "description" : "Mettre à jour une demande de prêt existante",
        "parameters" : [ {
          "name" : "Demande",
          "in" : "query",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "201" : {
            "description" : "Status 201"
          }
        }
      },
      "delete" : {
        "summary" : "Annuler une demande de prêt",
        "description" : "Annuler une demande de prêt existant",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "Status 200"
          }
        }
      },
      "parameters" : [ {
        "name" : "idPret",
        "in" : "path",
        "required" : true,
        "type" : "string"
      } ]
    }
  },
  "securityDefinitions" : {
    "Basic authentication" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "Adresse" : {
      "type" : "object",
      "properties" : {
        "rue" : {
          "type" : "string",
          "example" : "ZI Traon Bihan"
        },
        "rue2" : {
          "type" : "string"
        },
        "codePostal" : {
          "type" : "string",
          "example" : "29200"
        },
        "ville" : {
          "type" : "string",
          "example" : "Ploudaniel"
        },
        "etat" : {
          "type" : "string",
          "example" : "Californie"
        }
      },
      "example" : "{\r\n\t\"rue\": \"3185 Gateway Avenue\",\r\n\t\"rue2\": \"\",\r\n\t\"codePostan\": \"93301\",\r\n\t\"ville\": \"Bakersfield\",\r\n\t\"etat\": \"CA\"\r\n}"
    },
    "Demande" : {
      "type" : "object",
      "required" : [ "detailPret", "etatApplication", "idPret", "infoDemandeur", "typePret" ],
      "properties" : {
        "idPret" : {
          "type" : "string"
        },
        "typePret" : {
          "type" : "string",
          "enum" : [ "Entreprise", "Personnel" ]
        },
        "infoDemandeur" : {
          "type" : "object"
        },
        "etatApplication" : {
          "type" : "string",
          "enum" : [ "En attente", "Approuvée", "Rejetée" ]
        },
        "detailPret" : {
          "required" : [ "duree", "mensualite", "montant" ],
          "type" : "object",
          "properties" : {
            "montant" : {
              "type" : "number"
            },
            "duree" : {
              "type" : "integer"
            },
            "mensualite" : {
              "type" : "number"
            }
          }
        }
      }
    },
    "Personne" : {
      "type" : "object",
      "required" : [ "Nom", "adresse", "prenom" ],
      "properties" : {
        "Nom" : {
          "type" : "string"
        },
        "prenom" : {
          "type" : "string"
        },
        "adresse" : {
          "$ref" : "#/definitions/Adresse"
        }
      }
    },
    "Societe" : {
      "type" : "object",
      "required" : [ "adresse", "nomSociete", "typeSociete" ],
      "properties" : {
        "nomSociete" : {
          "type" : "string"
        },
        "typeSociete" : {
          "type" : "string",
          "enum" : [ "SA", "SARL", "EURL", "GIE" ]
        },
        "adresse" : {
          "$ref" : "#/definitions/Adresse"
        }
      }
    }
  }
}